

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    background-color:aqua;
    background-color:beige;
    background-color:black;
    etiqueta para archivo html
}















